@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap');
@import 'tailwindcss';

@theme{
  --color-primary-black: #0C0C0C;
  --color-primary-blue: #0C68F4;
  --color-primary-orange: #F45E0C;
}

body {
  font-family: 'Inter', sans-serif;
}